/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-sept-01, 14:04:08
    Author     : arvid  
*/
.col-md-3{
    color: black;
}

.col-md-3 ul.recipes-1{
    list-style-type: circle;
}

.col-md-3{
    font-size: 13px;
    font-family: sans-serif;
}

.col-md-3 p{
    font-size: 13px;
    font-family: sans-serif;
}

.col-md-3 .commentbox td{
    font-size: 13px;
    font-family: sans-serif;
}